
fine_tune/data/
fine_tune/models/
fine_tune/wandb/

llm/finetuned_model
llm/results

people_detector/*.jpg
people_detector/*.pt

speech_to_text_project/__pycache__/
speech_to_text_project/temp/
speech_to_text_project/v2/
speech_to_text_project/.env




