__pycache__/


data/chroma_db/
data/documents/

*.env
*.env.local

# Python
*.pyc
*.pyo
*.pyd
*.so

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Alembic
# Uncomment if you want to ignore migration files
alembic/versions/*.py
